DEBUG='true'
BACKEND_HOST='0.0.0.0'
BACKEND_HOST_PORT=5000
FRONTEND_HOST='127.0.0.1'
FRONTEND_HOST_PORT=3000
IMAGE_FOLDER='./tmp/'
VOCAB_PATH='./data/vocab_051819_4.pkl'

CHECKPOINT_PATH_NIC_FAC='./models/nic_transfer_4_complete/FAC_checkpoint_nic_transfer_4.pth.tar'
CHECKPOINT_PATH_NIC_HAP='./models/nic_transfer_4_complete/HAP_checkpoint_nic_transfer_4.pth.tar'
CHECKPOINT_PATH_NIC_SAD='./models/nic_transfer_4_complete/SAD_checkpoint_nic_transfer_4.pth.tar'
CHECKPOINT_PATH_NIC_ANG='./models/nic_transfer_4_complete/ANG_checkpoint_nic_transfer_4.pth.tar'
CHECKPOINT_PATH_NIC_ATT_FAC='./models/nic_transfer_att_4_complete/FAC_checkpoint_nic_transfer_att_4.pth.tar'
CHECKPOINT_PATH_NIC_ATT_HAP='./models/nic_transfer_att_4_complete/HAP_checkpoint_nic_transfer_att_4.pth.tar'
CHECKPOINT_PATH_NIC_ATT_SAD='./models/nic_transfer_att_4_complete/SAD_checkpoint_nic_transfer_att_4.pth.tar'
CHECKPOINT_PATH_NIC_ATT_ANG='./models/nic_transfer_att_4_complete/ANG_checkpoint_nic_transfer_att_4.pth.tar'
CHECKPOINT_PATH_STYLENET_FAC='./models/stylenet_transfer_4_complete/FAC_checkpoint_stylenet_transfer_4.pth.tar'
CHECKPOINT_PATH_STYLENET_HAP='./models/stylenet_transfer_4_complete/HAP_checkpoint_stylenet_transfer_4.pth.tar'
CHECKPOINT_PATH_STYLENET_SAD='./models/stylenet_transfer_4_complete/SAD_checkpoint_stylenet_transfer_4.pth.tar'
CHECKPOINT_PATH_STYLENET_ANG='./models/stylenet_transfer_4_complete/ANG_checkpoint_stylenet_transfer_4.pth.tar'
CHECKPOINT_PATH_STYLENET_ATT_FAC='./models/stylenet_transfer_att_4_complete/FAC_checkpoint_stylenet_transfer_att_4.pth.tar'
CHECKPOINT_PATH_STYLENET_ATT_HAP='./models/stylenet_transfer_att_4_complete/HAP_checkpoint_stylenet_transfer_att_4.pth.tar'
CHECKPOINT_PATH_STYLENET_ATT_SAD='./models/stylenet_transfer_att_4_complete/SAD_checkpoint_stylenet_transfer_att_4.pth.tar'
CHECKPOINT_PATH_STYLENET_ATT_ANG='./models/stylenet_transfer_att_4_complete/ANG_BEST_checkpoint_stylenet_transfer_att_4.pth.tar'